<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
    <script type="text/javascript" src="{{url_for('static', filename= 'auth.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'auth.css')}}"/>
</head>
<body>
    <form action="http://localhost:5000/login" method="post">
        
        <p>Identifiant : </p>
        <input type="text" name="identifiant">
        <p>Mot de passe : </p>
        <input type="password" name="passwd">
        <input type="submit" value="valider" onclick="verification()">

    </form>
</body>
</html>