<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to home page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'homePage.css')}}"/>
</head>
<body>
    <div class="page">
        <h1 class="title">Welcome to Your Home Space</h1>
        <div class="logout_button">
            <a href="http://localhost:5000/logout"><img src="{{url_for('static', filename= 'logout.png')}}" /></a>
        </div>

        <div class="lesBoutons">
            <button class="rose">Files</button>
            <button class="bleu">Dirs</button>
            <button class="vert">Space</button>
        </div>
    </div>
</body>
</html>